.habDisplay {
  margin-top: 160px;
  text-align: center;
}

.habContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

.habilidadesItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8.75rem;
  height: 7.5rem;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--gradient-0);
}

.habilidadesItem:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.habilidadesItem p {
  margin-top: 10px;
}

@media (max-width: 1100px) {
  .habDisplay {
    margin-top: 120px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0;
  }
}