.titulo {
  text-align: center;
  margin-bottom: 120px;
}

.contatoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 120px;
}

.contatoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contatoItem img {
  padding: 10px;
  border: 2px solid var(--color-p5);
}

.contatoItem span {
  top: 60px;
  margin-top: 20px;
}

.contatoItem:hover {
  transform: scale(1.1);
  transition: 0.2s;
}