.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.nav {
  display: flex;
  padding: 10px 0px;
  gap: 40px;
}

.navIcons {
  justify-content: end;
}

.nav a {
  cursor: pointer;
  position: relative;
}

.nav a::after {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-p6);
}

.nav a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.logo {
  display: grid;
  justify-self: center;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo {
    display: none;
  }
}

@media (max-width: 800px) {
  .nav {
    font-size: 0.875rem;
  }
  .nav svg {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 700px) {
  .header {
    justify-content: center;
  }
  .navIcons {
    display: none;
  }
  .nav {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0;
  }
}