.titulo {
  text-align: center;
  margin: 120px;
}

.projetosContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-bottom: 120px;
}

.projeto h3 {
  margin-bottom: 10px;
}

@media (max-width: 1030px) {
  .projetosContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0;
  }
  .titulo {
    font-size: 1.7rem;
  }
}